<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>StarterKit: Angular</title>

		<meta name="description" content="Angular part of Capgemini StarterKit programme.">
		<meta name="author" content="Lukasz Sidorkiewicz, Przemyslaw Kedzierski">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/sky.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section id="start">
					<h3><strong>StarterKit: Angular</strong></h3>
					<p>Introduction into Angular web framework</p>
					<h2><img class="plain" src="img/angular.png"></h2>
					<p>
						<small>Created by <a href="https://github.com/lsidorki">Lukasz Sidorkiewicz</a> / <a href="https://github.com/lsidorki">Przemyslaw Kedzierski</a></small>
					</p>
				</section>
				<section id="agenda">
					<h3>Agenda</h3>
					<small>
						<ol>
							<li><a href="#/about">About Angular</a></li>
							<li><a href="#/environment">Environment Setup</a></li>
							<li><a href="#/module">Module</a></li>
							<li><a href="#/dependncy-injection">Dependency Injection</a></li>
							<li><a href="#/components">Components</a></li>
							<li><a href="#/services">Services</a></li>
							<li><a href="#/lifecycle">Lifecycle Hooks</a></li>
							<li><a href="#/templates">Templates</a></li>
							<li><a href="#/data-manipulation-events">Data manipulation and events</a></li>
							<li><a href="#/forms">Angular Forms</a></li>
							<li><a href="#/backend-communication">Backend Communication</a></li>
							<li><a href="#/routing">Routing</a></li>
							<li><a href="#/pipes">Pipes</a></li>
							<li><a href="#/security">Security</a></li>
						</ol>
					</small>
				</section>
				<section id="about">
					<h3>About Angular (v. 4.0.0)</h3>
					<small>
					<ul>
						<li>Smaller & Faster (will be still improved)</li>
						<li>View Engine changes (generates less code)</li>
						<li>Animation Package (moved to own package)</li>
						<li>Improved *ngIf (if/else syntax) and *ngFor (assign local variables)</li>
						<li>Angular Universal (allows developers to run Angular on a server)</li>
						<li>TypeScript 2.1 and 2.2 compatibility</li>
						<li>Packaging Changes</li>
					</ul>
					</small>
				</section>
				<section id="environment">
					<section id="environment-setup">
					<h3>Setting Up the Environment</h3>
					<small>
						<p>Necessary tools:</p>
						<ul>
							<li>GIT</li>
							<li>Node.js (NPM module)</li>
							<li>IDE (Atom, Visual Studio Code, etc.)</li>
						</ul>
					</small>
					</section>
					<section id="environment-startup" data-markdown>
						<h3>Quick Start</h3>
						<p>
							git clone https://github.com/angular/quickstart.git quickstart
							cd quickstart
							npm install
							npm start
						</p>
					</section>
				</section>
				<section id="module">
					<section id="module-basics">
						<h3>Module</h3>
						<small>
							<p>NgModules help organize an application into cohesive blocks of functionality dedicated to a single purpose.</p>
							<p>Many Angular libraries are modules.</p>
						</small>
					</section>
					<section id="module-definition" data-markdown>
						<h3>Module definition</h3>
						<small>
							<p>
								import { NgModule }      from '@angular/core';
								import { BrowserModule } from '@angular/platform-browser';

								@NgModule({
									imports:      [ BrowserModule ],
									providers:    [ Logger ],
									declarations: [ AppComponent ],
									exports:      [ AppComponent ],
									bootstrap:    [ AppComponent ]
								})

								export class AppModule { }
							</p>
						</small>
					</section>
					<section id="module-root">
						<h3>Root Module</h3>
						<small>
							<p>Every application has at least one module, which is the root module. It is being bootstrapped to launch the whole application.</p>
						</small>
					</section>
				</section>
				<section id="dependncy-injection">
					<section id="dependncy-injection-about">
						<h3>Dependency Injection</h3>
						<small>
								<p>Dependency Injection is a mechanism which supplies an instance of a class with dependencies it requires. Angular uses it mostly to provide services to new components.</p>
								<p>Injector maintains a container of previously created service instances. It can also create new service instances with given provider. </p>
								<p>Providers need to be registered in a module (root).</p>
						</small>
					</section>
					<section id="dependncy-injection-definition" data-markdown>
						<h3>Add providers to the module</h3>
						<p>
							providers: [
								FirstService,
								SecondService
							],
						</p>
						<h3>Or register them in a specific component</h3>
						<p>
							@Component({
								selector:    'my-selector',
								templateUrl: './my-selector.component.html',
								providers:  [ FirstService ]
							})
						</p>
					</section>
				</section>
				<section id="components">
					<section id="components-basics">
						<h3>Components</h3>
						<small>
							<p>Components are used to control the view. </p>
							<p>They are responsible for exposing the data, handling the display and user interaction.</p>
						</small>
					</section>
					<section id="components-definition" data-markdown>
						<h3>Component definition</h3>
						<p>
							export class MyFirstComponent implements OnInit {
								books: Book[];
								selectedBook: Book;

								constructor(private service: MyFirstService) { }

								ngOnInit() {
									this.books = this.service.getBooks();
								}

								selectBook(book: Book) { this.selectedBook = book; }
							}
						</p>
					</section>
				</section>
				<section id="services">
					<section id="services-about">
					<h3>Services</h3>
						<small>
							<p>Services are being built for the business logic of application, which is not associated with a specific view, but shared across many components.</p>
							<p>Service provides a shared data, logic or encapsulates external interactions. </p>
							<p><b>It should do something specific and do it well.</b></p>
						</small>
					</section>
					<section id="services-definition" data-markdown>
					<h3>Services</h3>
						<p>
							export class MyService {
								private someData: SomeData[] = [];

								constructor(
									private someService: SomeService) { }

								getData() {
									return this.someData;
								}
							}
						</p>
					</section>
				</section>
				<section id="lifecycle">
					<h3>Lifecycle Hooks</h3>
					<p>pkedzier</p>
				</section>
				<section id="templates">
					<section id="templates-basics">
						<h3>Templates</h3>
						<small>
							<p>Templates define the view. Via HTML it tells Angular how to render a page.</p>
							<p>Defined in a separate template file (templateUrl) or via backticks within the component annotation metadata (template).</p>
						</small>
					</section>
					<section id="template-syntax" data-markdown>
						<h3>Template Syntax</h3>
							<p>
							@Component({
								selector:    'book-shelf',
								templateUrl: './book-shelf.component.html',
								// template: Some pure HTML
								providers:  [ MyFirstService ]
							})
						</p>
					</section>
					<section id="data-binding">
						<h3>Data binding</h3>
						<small>
							<p>Angular supports data binding, a mechanism for coordinating parts of a template with parts of a component. Binding markups tell Angular how to connect both sides. </p> 
							<p>There are four ways of data binding: </p>
							<ul>
								<li>interpolation: {{value}}</li>
								<li>property binding: [property] = "value"</li>
								<li>event binding: (event) = "handler"</li>
								<li>two way data binding: [(ng-model)] = "property"</li>
							</ul>
						</small>
					</p>
					</section>
				</section>
				<section id="data-manipulation-events">
					<section id="displaying-data">
						<h3>Displaying data</h3>
						<small>
							<ul>
								<li>Interpolation</li>
								<li>*ngFor</li>
								<li>*ngIf</li>
								<li>[ngStyle]</li>
								<li>[ngClass]</li>
								<li>[ngSwitch]</li>
								<li>[hidden]</li>
								<li>[disabled]</li>
							</ul>
						</small>
					</section>
					<section id="user-input-events">
						<h3>User input events</h3>
						<small>
							<ul>
								<li>(click)</li>
								<li>(keyup)</li>
								<li>(blur)</li>
								<li>(ngSubmit)</li>
								<li>$event</li>
							</ul>
						</small>
					</section>
				</section>
				<section id="forms">
					<section id="forms-basics">
						<h3>Angular Forms</h3>
						<small>
							<p>Angular Forms control data input/changes, performs validation and presents errors.</p>
							<p>Forms are based mainly on ngModel, which is not only two-way data binding, but also gives control on the data state and validity. Therefore it updates the control with special Angular CSS classes that reflect the state:</p>
							<ul>
								<li>ng-touched/ng-untouched</li>
								<li>ng-dirty/ng-pristine</li>
								<li>ng-valid/ng-invalid</li>
							</ul>
						</small>
					</section>
					<section id="forms-definition" data-markdown>
						<h3>Import FormsModule</h3>
						<p>
							import { FormsModule }   from '@angular/forms';
							// (...)
							imports: [
								BrowserModule,
								FormsModule
							],
						</p>
					</section>
					<section id="forms-bootstrap">
						<h3>Bootstrap classes</h3>
						<small>
							<p>For the data presentation CSS classes, bootstrap is recommended (however not mandatory). These classes are purely cosmetic. Bootstrap gives the form a little style.</p>
							<p>Bootstrap stylesheet file needs to be included in HEAD: bootstrap.min.css</p>
						</small>
					</section>
				</section>
				<section id="backend-communication">
					<h3>Backend Communication (HTTP Client)</h3>
					<p>pkedzier</p>
				</section>
				<section id="routing">
					<section id="routing-basics">
						<h3>Routing</h3>
						<small>
							<p>Navigation between views is performed by Angular Router. It interpretes a browser URL as an instruction, reads optional parameters and navigates both through links and also browser buttons.</p>
							<p>It can log not only user's link clicks, but also buttons, form elements or even caused by other responses.</p>
						</small>
					</section>
					<section id="routing-concepts">
						<h3>Routing concepts</h3>
						<small>
							<ul>
								<li>base href for root HTML page</li>
								<li>Router is a part of <i>@angular/router</i> package</li>
								<li>Router is a singleton service defining <i>Routes</i></li>
								<li>Routing is defined by RouterModule.forRoot method with given routing array</li>
								<li>Each <i>Route</i> maps a URL path to a component</li>
								<li>The order of the routes in the configuration matters - first match win</li>
								<li><i>router-outlet</i> directive marks where the router displays a view</li>
								<li>Control over each app elements is assured by <i>RouterLink</i></li>
								<li><i>RouterState</i> holds information about <i>ActivatedRoute</i> objects tree</li>
							</ul>
						</small>
					</section>
					<section id="routing-definition" data-markdown>
						<h3>Routing definition</h3>
						<small>
							<p>
								const appRoutes: Routes = [
									{ path: 'some-pattern', component: TargetComponent },
									{ path: '**', component: PageNotFoundComponent }
								];

								@NgModule({
									imports: [
										RouterModule.forRoot(appRoutes)
										// ...
									],
									// ...
								})
								export class AppModule { }
							</p>
						</small>
					</section>
				</section>
				<section id="pipes">
					<h3>Pipes (optional)</h3>
					<p>pkedzier</p>
				</section>
				<section id="security">
					<h3>Security (optional)</h3>
					<p>lsidorki</p>
				</section>
				<section id="excercise">
					<h3>Excercise: VHS Rental Service</h3>
					<small>
						<p>Create a Web Application for VHS Rental Service.</p>
						<ol>
							<li>Website consists of at least three separate pages: 'VHS Movies listing', 'Subscribed customers' and 'List of rented tapes'</li>
							<li>Each VHS has its own info page, which consists of basic movie information, movie cover and gif from the movie.</li>
							<li>All the listings can be sorted (date, rating, alphatebically) and filtered.</li>
							<li>Administrator is able to rent tapes and collect them back.</li>
							<li>Administrator collects money for each rental, but can also appli additional fee (Unrewinded tape, delay, broken tape, etc.).</li>
							<li>During tape collection, user may also rate the movie with 5-star system.</li>
							<li>Use Bootstrap CSS/controls and remember to keep the 90' style (very important)!</li>
							<li>Use HTTP communication, modal windows and date picker for choosing date.</li>
							<li>Keep the system user friendly.</li>
						</ol>
					</small>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
