<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>StarterKit: Angular</title>

		<meta name="description" content="Angular part of Capgemini StarterKit programme.">
		<meta name="author" content="Lukasz Sidorkiewicz, Przemyslaw Kedzierski">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/sky.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section id="start">
					<h3><strong>StarterKit: Angular</strong></h3>
					<p>Introduction into Angular web framework</p>
					<h2><img class="logo" src="./img/angular.png"></h2>
					<p>
						<small>Created by <a href="https://github.com/lsidorki">Lukasz Sidorkiewicz</a> / <a href="https://github.com/lsidorki">Przemyslaw Kedzierski</a></small>
					</p>
				</section>
				<section id="agenda">
					<h3>Agenda</h3>
					<ol>
						<li><a href="#/about">About Angular</a></li>
						<li><a href="#/environment">Environment Setup</a></li>
						<li><a href="#/module">Module</a></li>
						<li><a href="#/dependncy-injection">Dependency Injection</a></li>
						<li><a href="#/controllers">Controllers</a></li>
						<li><a href="#/services-factories">Services and Factories</a></li>
						<li><a href="#/useful-directives">Useful Directives</a></li>
						<li><a href="#/backend-communication">Backend Communication</a></li>
						<li><a href="#/routing">Routing</a></li>
					</ol>
				</section>
				<section id="about">
					<h3>About Angular (v. 4.0.0)</h3>
					<small>
					<ul>
						<li>Smaller & Faster (will be still improved)</li>
						<li>View Engine changes (generates less code)</li>
						<li>Animation Package (moved to own package)</li>
						<li>Improved *ngIf (if/else syntax) and *ngFor (assign local variables)</li>
						<li>Angular Universal (allows developers to run Angular on a server)</li>
						<li>TypeScript 2.1 and 2.2 compatibility</li>
						<li>Packaging Changes</li>
					</ul>
					</small>
				</section>
				<section id="environment">
					<h3>Setting Up the Environment</h3>
				</section>
				<section id="module">
					<section id="module-basics">
						<h3>Module</h3>
					</section>
					<section id="module-definition">
						<h3>Module definition</h3>
					</section>
					<section id="module-root">
						<h3>Root Module</h3>
					</section>
				</section>
				<section id="dependncy-injection">
					<h3>Dependency Injection</h3>
				</section>
				<section id="controllers">
					<h3>Controller</h3>
				</section>
				<section id="services-factories">
					<h3>Services</h3>
				</section>
				<section id="useful-directives">
					<h3>Directives</h3>
				</section>
				<section id="backend-communication">
					<h3>Backend Communication</h3>
				</section>
				<section id="routing">
					<h3>Routing</h3>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
